[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
flask = "*"
pytest = "*"
functions-framework = "*"
requests = "*"
jsonpickle = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
